.sidenav{
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    height: 100%;
    width: 16vw;
    border-top-right-radius: 5rem;
    border-right: 1px solid var(--theme-primary);
    border-top: 1px solid var(--theme-primary);
}

.logo{
    padding: 2rem;
}

.logo > img{
   width: 10rem;
}


